{% extends "base.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename= 'js/facebook.js') }}"></script>

<button id="fb_login_button" onclick="initialLogin()">Login</button>

<div>
  <select name="pages" id="pages__list">
    <option value="choose-a-page">Choose a page</option>
    <input type="submit" onClick="getPosts()">
  </select>
  <!-- <p>Can't find the page you're looking for? <a href="#">Recheck the permissions you gave SourceHub</a></p> -->
</div>

<div>
  <table id="posts__table">
    <thead>
      <tr>
        <th>Created at</th>
        <th>Facebook URL</th>
        <th>Outbound URL</th>
        <th>utm_source</th>
        <th>utm_medium</th>
        <th>utm_campaign</th>
        <th>utm_term</th>
        <th>utm_content</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  <button id="more" onClick="getNext()">More</button>
  <!-- <button id="export" onClick="getNext()">Export</button> -->
</div>


{% endblock %}